	.popup-image__text {
	  margin-top: 20px;
	  @extend %font-main;
	  color: $color-gold;
	  @include font ($font-style: normal,
	    $font-weight: normal,
	    $font-size: 16px,
	    $line-height: 36px,
	  );
	}
