// Colors
$color-background:black;
$color-dark:black;
$color-light:#FFFFFF;
$color-gold:BDAE82;

// Default paddings for sections

$padding-left:20px;
$padding-right:20px;
$padding-top:120px;

// Width of content 
$content-width:1440px; // Desktop
$tablet-width:1440px; // Tablet