.hero__text {
	@extend %font-main;
	margin-top: 10px;
	@include font ($font-style: normal,
		$font-weight: normal,
		$font-size: 20px,
		$line-height: 40px,
	);
	color: $color-light;
	width: 470px;
}

;