// Abstract (importing variablex, mixins, placeholders etc.
@import "../abstract/_constants";
@import "../abstract/_mixins";
@import "../abstract/_placeholders";



// Menu (used BEM Nested file structure)
@import "../blocks/menu/menu";
@import "../blocks/menu/__link/menu__link";
@import "../blocks/menu/__list/menu__list";
@import "../blocks/menu/__list-item/menu__list-item";
@import "../blocks/menu/_place/menu_place_header";


//Buttons
@import "../blocks/button/button";
@import "../blocks/button/__text/button__text";
@import "../blocks/button/_place/button_place_hero";


// Sections (used BEM Nested file structure)
@import "../blocks/header/_header";
@import "../blocks/hero/_hero";
@import "../blocks/hero/__title/hero__title";
@import "../blocks/hero/__text/hero__text";


.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.wrapper {
	padding-left: $padding-left;
	padding-right: $padding-right;

}