.button {
  color: $color-dark;
  text-align: center;
  @extend %font-main;
  @include font ($font-style: normal,
    $font-weight: normal,
    $font-size: 20px,
    $line-height: 40px,
  );

  &:hover {
    cursor: pointer;
    color: $color-light;
    opacity: .6;
  }
}
