.section__title {
	margin: 0;
	text-align: center;
	@extend %font-header;
	color: $color-gold;
	@include font ($font-style: normal,
		$font-weight: bold,
		$font-size: 40px,
		$line-height: 80px,
	);

}